body {
    background-color: rgb(26, 22, 34);
    color: rgb(119, 199, 236);
    font-family: 'Helvetica', 'Arial Narrow Bold', sans-serif;
    margin: 0% 0% 1% 0%;
    padding: 1%
}

header {
    padding: 2%;
    background-color: aliceblue;
    margin: 1% 0% 3% 0%;
    color:rgb(42, 25, 14)
}

footer {
    padding: 2%;
    background-color: aliceblue;
    margin: 0% 0% 1% 0%;
    color:rgb(42, 25, 14)
}

main {
    padding: 2%;
    background-color: aliceblue;
    margin: 3% 0% 3% 0%;
    color:rgb(42, 25, 14)
}

nav a {
    margin: 3% 0% 0% 0%;
    padding: 2%;
    color: rgb(242, 43, 43);
    background-color: rgb(51, 51, 71);
    border: 1px solid rgb(7, 0, 18);
    font-family: 'Arial Narrow Bold', Helvetica, sans-serif;
    text-decoration: none;
}  
nav a:hover {
    margin: 3% 0% 0% 0%;
    padding: 2%;
    color: rgb(127, 230, 53);
    background-color: rgb(30, 30, 50);
    border: 1px solid rgb(7, 0, 18);
    text-decoration: none;
}

h1, h2 {
    color: red;
    font-weight: bold; 
}

table {
    border: 2px solid;
    border-collapse: collapse;
    margin: 1%;
    border-width: 3px;
    width: 100%;
    max-width: 500px;
    padding: 5%;
    margin-left: 0px;
    margin-right: 0px;
}
thead {
    border: 1px solid;
    background-color: aliceblue;
    height: 30px;
    color: rgb(11, 1, 43);
}
tr th {
    border: 1px solid;
    padding: 3%;
    color: rgb(11, 1, 43)
}
tr td {
    border: 1px solid;
    padding: 3%;
    color: rgb(11, 1, 43);
    text-align: center;
}

input, button, select {
    padding: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

